name: CC

on: 
  pull_request
  
jobs:
#  linting:
#    runs-on: ubuntu-latest
    
#    steps:
#    - uses: actions/checkout@v2
#    - name: "Let's get linnin"
#      uses: docker://avtodev/markdown-lint:v1
#      with:
#        config: '.markdownrc'
#        args: "**/*.md"
        
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests with pytest
        run: pytest 